@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 20px;
    --text-primary: #eee;
    --text-secondary: #ececec;
    --bg-primary: #111827;
    --bg-secondary: #262a33;
    --brand: #2eaeff;
    --transparent: rgba(0, 0, 0, .3);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

@layer components {}